/*Chat CSS*/
.chat {
    margin-right: auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.pseudo {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messages_box {
    min-height: 160px;
    max-height: 360px;
    min-width: 50px;
    margin: 10px 0;
    overflow: auto;
    padding: 5px 10px;
    border-top: 1px solid #999;
}
.messages_box .message {
    margin-bottom: 15px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
}
.messages_box .message span {
    font-weight: bold;
    font-size: 14px;
}
.messages_box p {
    word-break: break-all;
    font-size: 13px;
}
.your_message {
    border: 1px solid #1877f2;
    border-radius: 10px 10px 10px 0;
    max-width: 80%;
}
.your_message span {
    color: #1877f2;
}
.others_message {
    border: 1px solid #999;
    margin-left: auto;
    border-radius: 10px 10px 0 10px;
    max-width: 80%;
}

.date {
    color: #ccc;

}
.send_message {
    border-top: 1px solid #999;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.send_message textarea {
    width: 100%;
    resize: none;
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    font-size: 13px;
}
.send_message input[type='submit'] {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #1877f2;
    color: #fff;
    font-size: 13px;
    border: 1px solid #1877f2;
    cursor: pointer;
}
.message_success {
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    background-color: green;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
}


.Deconnexion_btn {
    padding: 5px 20px;
    color: #fff;
    background-color: #1877f2;
    font-size: 13px;
    text-decoration: 0;
    border-radius: 6px;
}
.table-striped {
    margin-right: auto;
    max-width: 150px;
    height: 100px;  
}
table {
    caption-side: top;
}
caption {
    font-size: 20px; 
    font-weight: bold;
}
table tr{
    background-color: #fff;
}
.img {
    width: 80px; 
    height: 80px;
}
.img_index{
    width: 250px; 
    height: 300px;
}
.card_index_canal_autisme{
    width: 350px; 
    height: 150px;
}
.card_index{
    text-align: center;
}
.title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-ligne {
    width: 10px; 
    height: 10px; 
    margin-right: 5px; 
}
.link  {
    color: #1877f2;
    font-size: 14px;
    text-decoration: 0;
}
.link:hover {
    text-decoration: underline;
}
a {
    text-decoration: 0;
}
.send_msg{
    margin-top: 5px;
}
.btn-retour {
    margin-left: 80px;
}
.h1{
    font-size: 30px;
    text-align: center;
}
.info{
    color: red;
}
.center-input {
    margin-left: auto; /* Ajoute une marge automatique à droite */
    margin-right: auto; /* Ajoute une marge automatique à gauche */
    display: block; 
    border: 2px solid #ccc; 
}

.card-header{
    background-color: #1877f2;
}
.custom-link{
    color: #fff;
    text-decoration: 0;
}
.custom-card-content{
    color: black;
    text-decoration: none; 
}
fieldset {
    border: 2px solid #ccc; /* Ajoute une bordure de 2px d'épaisseur solide avec une couleur grise (#ccc) */
    padding: 20px; /* Ajoute un remplissage de 20px à l'intérieur du cadre */
}

.footer-custom {
    color: #fff;
    background-color: #212529 !important;
}
@media (max-width: 768px) {
    #user-table {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
  .custom-link {
    text-decoration: none;
  }
  .btn-retour {
    margin-left: 15px;
  }
  .card_index_canal_autisme{
    width: 250px; 
    height: 100px;
}
}
